.container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid .row {
  margin: 0;
}

.container-background {
  background-image: url('./perfil-inversionista.jpg');
  background-size: cover;
}

.jumbotron-app {
  background-color: rgba(1, 1, 1, 0.5);
  margin-bottom: 0;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 0 !important;
}

.app-title {
  color: #77CC6D;
  text-align: center;
}

.app-description {
  text-align: center;
  line-height: 24px;
  font-size: 16px;
  padding-bottom: 0;
  color: white;
}

.app-description a {
  color: #77CC6D;
}

.app-questions {
  background-color: whitesmoke;
  padding-bottom: 30px;
}
